<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>BEYOND FASHION</title>
        <link rel="stylesheet" href="https://storagedemo-madzh.s3.jp-tok.cloud-object-storage.appdomain.cloud/MadmukFinalhomecss.css">
    </head>

    <body>
        
            <nav>
                <a class="logo" href="MadFinalhome.html"><h2>FASHIONISTA HOME</h2></a>
                <ul>
                    <li><input class="srch" type="search" name="" placeholder="TYPE TO SEARCH">
                    <a href="#"><button class="btn">SEARCH</button></a></li>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">FEATURES</a></li>
                    <li><a href="#">ABOUT</a></li>
                    
                </ul>
                <img src="https://storagedemo-madzh.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/profile.jpeg" class="user-pic" onclick="toggleMenu()">

                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="https://storagedemo-madzh.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/profile.jpeg">
                            <h2>NAME</h2>
                        </div>
                        <hr>

                        <a href="#" class="sub-menu-link">
                            <img src="https://storagedemo-madzh.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/profile.jpeg">
                            <p>EDIT PROFILE</p>
                            
                        </a>

                        <a href="#" class="sub-menu-link">
                            <img src="https://storagedemo-madzh.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/settings.jpeg">
                            <p>SETTING  & PRIVACY</p>
                            
                        </a>

                        <a href="#" class="sub-menu-link">
                            <img src="https://storagedemo-madzh.s3.jp-tok.cloud-object-storage.appdomain.cloud/images/help.jpeg">
                            <p>HELP</p>
                            
                        </a>

                        <a href="/Login" class="sub-menu-link">
                            <img src="https://cdn-icons-png.flaticon.com/512/56/56805.png">
                            <p>LOGOUT</p>
                            
                        </a>
                    </div>
                </div>
                 
            </nav>

        <div class="Banner"> 
          <div class="Bannerimg1"> <img img class="image" src="https://img.freepik.com/free-photo/joyful-parisian-woman-beret-sunglasses-points-place-text-purple-wall_197531-24604.jpg?w=2000"></div> 
            <div class="Adcontent">
                <h1><br>BEST FASHION FOR WOMEN</br></h1>
                <br>ADD THESE NEW LAUNCHES TO YOUR CART NOW...</br>
            </div> 
        </div>
            
        <div class="rowstart">
            <div class="columnst"> <div class="depimg"><img class="image" src="https://cdn0.weddingwire.in/article/2617/original/1280/jpg/107162-wedding-dresses-for-girls-6.jpeg"> </div> <div class="Bottom">WEDDING & FESTIVE</div> </div>

            <div class="columnst"> <div class="depimg"><img class="image" src="https://previews.123rf.com/images/vadymvdrobot/vadymvdrobot1801/vadymvdrobot180102335/94122785-full-length-image-of-smiling-asian-woman-in-business-clothes-and-eyeglasses-holding-smartphone-while.jpg"> </div> <div class="Bottom">BACK TO DESK</div> </div>

            <div class="columnst"> <div class="depimg"><img class="image" src="https://i.pinimg.com/474x/29/00/fa/2900fa4d1599631766420338e531b2b2.jpg"> </div> <div class="Bottom">VACAY MOOD</div> </div>

            <div class="columnst"> <div class="depimg"><img class="image" src="https://img.faballey.com/images/Product/DRS02948Z/1.jpg"> </div> <div class="Bottom">PARTY ALL NIGHT</div>  </div>
        </div>
        
        <div class="Banner"> 
            <div class="Bannerimg2"> <img img class="image"  src="https://bluejay.com.my/wp-content/uploads/2021/12/Kids-clothes-Hong-Kong-seed.jpg"></div> 
            <div class="Adcontent2">
                <h1><br>KIDS FASHION</br></h1>
                <br>LET OUR FUTURE BE STYLISH.....</br>
            </div>
        </div>
        
        <div class="row">

            <div class="column"> <div class="depimg"><img class="image" src="https://cdn.shopify.com/s/files/1/0266/6276/4597/files/floral_ethnic_wear_for_kids_by_utsa.jpg?v=1597833877"> </div> <div class="Bottom">ETHNIC WEAR</div>  </div>

            <div class="column"> <div class="depimg"><img class="image" src="https://i.pinimg.com/736x/8a/f8/59/8af859d60ef9667726b206e1be2378e4.jpg"> </div> <div class="Bottom">WINTER WEAR</div>  </div>

            <div class="column"> <div class="depimg"><img class="image" src="https://i.pinimg.com/474x/9a/c2/85/9ac28569bd3bade0aa23bd74aaa8c0a9.jpg"> </div> <div class="Bottom">DRESSES & JUMPSUITS</div>  </div>

            <div class="column"> <div class="depimg"><img class="image" src="https://i.pinimg.com/564x/1b/c1/d5/1bc1d56f08959760738a0386f231d3fc.jpg"> </div> <div class="Bottom">TOPS & TEES</div>  </div>
        </div>

        <div class="Banner"> 
            <div class="Bannerimg1"> <img img class="image" src="https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2018/01/30/Pictures/_21667342-05ba-11e8-90ea-37dc70df54a3.jpg"></div> 
            <div class="Adcontent">
                <h1><br>MENS FASHION</br></h1>
                <br>WE ALSO PROVIDE TRENDY COLLECTIONS FOR MEN..ALWAYS "MEN WILL BE MEN"</br>
            </div>
        </div>
        
        <div class="row">
            <div class="column"> <div class="depimg"><img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPYVjlrL-LxLn_nhnDfHJx09_dUQsTRgkM69nENo7WKE6EKe555GjYDI7leLNGsKyGvR8&usqp=CAU"> </div> <div class="Bottom">T-SHIRTS & POLOS</div> </div>

            <div class="column"> <div class="depimg"><img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIFeIqHpb2srr3FnKvSDnAUdz225j0v_Ijo-KuIZzvS2O5LHuyxBNYzfy8HgQ_Hi6WbDQ&usqp=CAU"> </div> <div class="Bottom">CASUAL SHIRTS</div>  </div>

            <div class="column"> <div class="depimg"><img class="image" src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/10498568/2020/6/10/f1bc48ac-9997-4be1-8ce3-81cc6d5e61061591736177979-HRX-by-Hrithik-Roshan-Men-Grey-Solid-Regular-Fit-Training-Jo-1.jpg"> </div> <div class="Bottom">SPORTS WEAR</div>  </div>

            <div class="column"> <div class="depimg"><img class="image" src="https://images.express.com/is/image/expressfashion/0037_04105431_0512?cache=on&wid=361&fmt=jpeg&qlt=75,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon"> </div> <div class="Bottom">SWEATSHIRTS & JACKETS</div>  </div>
           
        </div>

        <div class="Banner"> 
            <div class="Bannerimg2"> <img class="image" src="https://lh3.googleusercontent.com/KDJ_WZU_7c-GHi14G03oqXb6ZSgTiDJr8L7Rid5jA9pRPAdUOgfQQYAPDLGN9Sn3eJC6B1F4qchid_0mHWn_jficXrs=w400-rw"></div> 
            <div class="Adcontent2">
                <h1><br>ACCESSORIES</br></h1>
                <br>THE ANOTHER THING WHICH MAKES A PERSON FASHIONABLE IS ACCESSORIES</br>
            </div>
        </div>
        
        <div class="rowend">
          <div class="columnend"> <div class="depimg"><img class="image" src="https://5.imimg.com/data5/FJ/AH/MY-42396081/combo-sets-28american-diamond-jewellery-29-500x500.jpg"> </div> <div class="Bottom">JEWELLERY</div>  </div>

          <div class="columnend"> <div class="depimg"><img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaoxLoX2lgaVWFtaGkCvyrozucBLTpaV4LJd9xx2sRoqoums9kp9soRVXOKw6_rkVxsZk&usqp=CAU"> </div> <div class="Bottom">SUNGLASSES</div>  </div>

          <div class="columnend"> <div class="depimg"><img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJKjvaIU1qatbXinxMNRfWE338fXEl7t69TQ&usqp=CAU"> </div> <div class="Bottom">WATCHES</div>  </div>

          <div class="columnend"> <div class="depimg"><img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSWDKgpQeZ-3VNR7-9SfaVGVvqOawrkZiLdNfSpjNNQJNI6hl8cJg0Qs_DZfpJtizUst0&usqp=CAU"> </div> <div class="Bottom">HANDBAGS & CLUTCHES</div>  </div>

        </div>
        

    <script>
        let subMenu = document.getElementById("subMenu");
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
   </script>
          
    </body>
    <footer>
      <div class="footer"> <H1>HAPPY SHOPPING</H1></div>

    </footer>
</html>
